{% load dyn_struct %}

<div class="dynamic_structure">
    {% for row in rows %}
        <div class="row">
            {% for field in row %}
                <div class="{{ field.classes }}">
                    {% if field.is_header %}
                        <h4>
                            {{ field.header }}
                        </h4>
                    {% else %}
                        {% if template == 'bootstrap2' %}
                            {% include 'dyn_struct/render_struct_field_bootstrap2.html' with item=field.bound_field %}

                        {% elif template == 'bootstrap3' %}
                            {% include 'dyn_struct/render_struct_field_bootstrap3.html' with item=field.bound_field %}

                        {% else %}
                            {% include template with item=field.bound_field %}
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
